.vs/
*.user
*.suo
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters

.idea/workspace.xml
.idea/editor.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/
.idea/cmake.xml
.idea
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

build/
out/
x64/
Debug/
Release/
*.exe
*.pdb
*.obj
*.ilk
